{% extends 'layout.html' %}

{% block title %}Penjemputan{% endblock title %}

{% block content %}
    <div class="container-fluid py-5" style="background-color:#F2F2F2;">
        <div class="container">
            <div class="row g-5" style="margin-bottom: 40px;">
                <h2>
                    <a class="bi bi-arrow-left-circle-fill text-decoration-none" style="color: #299e63; font-size: 40px; margin-right: 20px;" href="{{ url_for('penjemputan.pilih_layanan') }}"></a>
                    <p style="display: inline-block; color: #299e63; font-size: 40px; margin-right: 20px;">Pilih Kurir Penjemputan</p>
                </h2>
            </div>
            <!-- Ekspedisi JNE -->
            <div class="row g-4">
                <div class="col-md-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-body" style="margin-left: 10px;">
                                    <h2 class="card-title" >JNE</h2>
                                    <p class="card-text" style="margin-top: 10px;">
                                        <i class="bi bi-telephone ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                        (021) 29278888<br>
                                        <i class="bi bi-clock ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                        08:00 - 20:00 ( 08:00 AM - 08:00 PM )
                                    </p>
                                    <a href="https://www.jne.co.id/">
                                        <button class="border-0 btn SpecificButton btn-success py-3 rounded-9" style="width: 150px; " type="submit">Pilih</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='img/ekspedisi/JNE.png') }}" class="img-fluid rounded-start" style="height: 170px; margin-top: 15px; margin-left: 40px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ekspedisi J%T Express -->
            <div class="row g-4" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-body" style="margin-left: 10px;">
                                    <h2 class="card-title" >J&T Express</h2>
                                    <p class="card-text" style="margin-top: 10px;">
                                        <i class="bi bi-telephone ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                        021-8066-1888<br>
                                        <i class="bi bi-clock ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                        08:00 - 20:00 ( 08:00 AM - 08:00 PM )
                                    </p>
                                    <a href="https://www.jet.co.id/">
                                        <button class="border-0 btn SpecificButton btn-success py-3 rounded-9" style="width: 150px; " type="submit">Pilih</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='img/ekspedisi/JT-Express-Logo.png') }}" class="img-fluid rounded-start" style="height:170px; margin-top: 15px; margin-left: 40px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ekspedisi grabexpress -->
            <div class="row g-4" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-body" style="margin-left: 10px;">
                                    <h2 class="card-title" >Grab Express</h2>
                                    <p class="card-text" style="margin-top: 10px;">
                                        <i class="bi bi-telephone ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                        021-80648787<br>
                                        <i class="bi bi-clock ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                        24 Jam
                                    </p>
                                    <a href="https://express.grab.com/book/login">
                                        <button class="border-0 btn SpecificButton btn-success py-3 rounded-9" style="width: 150px; " type="submit">Pilih</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='img/ekspedisi/grabexpress.png') }}" class="img-fluid rounded-start" style="height: 170px; width: 170px; margin-top: 15px; margin-left: 120px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ekspedisi gosend -->
            <div class="row g-4" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-body" style="margin-left: 10px;">
                                    <h2 class="card-title" >Gosend</h2>
                                    <p class="card-text" style="margin-top: 10px;">
                                        <i class="bi bi-telephone ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                        (021) 5084 9000<br>
                                        <i class="bi bi-clock ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                        06:00 - 21:00 ( 06:00 AM - 09:00 PM )
                                    </p>
                                    <a href="https://www.gojek.com/en-id/gosend">
                                        <button class="border-0 btn SpecificButton btn-success py-3 rounded-9" style="width: 150px; " type="submit">Pilih</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='img/ekspedisi/Gosend.png') }}" class="img-fluid rounded-start" style="height:220px; width: 70%; margin-left: 50px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}