{% extends 'layout.html' %}

{% block title %}Antar Sendiri{% endblock title %}

{% block content %}
    <!-- Ini Isi dari Detail Pencarian -->
    <div class="container-fluid py-5" style="background-color:#F2F2F2;">
        <div class="container">
            <div class="row g-5" style="margin-bottom: 40px;">
                <h2>
                    <a class="bi bi-arrow-left-circle-fill" style="color: #299e63; font-size: 40px; margin-right: 20px;" href="{{ url_for('penjemputan.pilih_layanan') }}">
                        Lokasi Pengepul
                    </a>
                </h2>
            </div>
            <div class="row g-4">
                <div class="col-md-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Pengepul Barang Rongsokan Limbah Elektronik Barang Bekas Loak</h4>
                                    <p class="card-text" style="margin-top: 10px;">
                                        <i class="bi bi-pin-map-fill ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                        Jl. Ledeng, RT.04/RW.03, Gunungbatu, Kec. Bogor Bar, Kota Bogor, Jawa Barat <br>
                                        <i class="bi bi-clock ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                        Buka 24 Jam
                                    </p>
                                    <button class="border-0 btn SpecificButton btn-success py-3 rounded-9" style="width: 150px; " type="submit">Pilih</button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='img/detailpencariantitik/detailpencariantitik1.png') }}" class="img-fluid rounded-start" style="height:210px; width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row g-4" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Gudang Rongsokan Barang Bekas & Limbah Elektronik</h4>
                                    <p class="card-text" style="margin-top: 10px;">
                                        <i class="bi bi-pin-map-fill ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                        Jl. Bogor Nirwana Residence, RT.01/RW.10, Ranggamekar, Kec. Bogor Sel., Kota Bogor, Jawa Barat<br>
                                        <i class="bi bi-clock ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                        08:00 - 22:00 ( 08:00 AM - 10:00 PM )
                                    </p>
                                    <button class="border-0 btn SpecificButton btn-success py-3 rounded-9" style="width: 150px; " type="submit">Pilih</button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='img/detailpencariantitik/detailpencariantitik2.png') }}" class="img-fluid rounded-start" style="height:210px; width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row g-4" style="margin-top: 10px;">
              <div class="col-md-12">
                  <div class="card">
                      <div class="row">
                          <div class="col-md-8">
                              <div class="card-body">
                                  <h4 class="card-title">Gudang UD Jaya Abadi Scrapindo Pengepul Besi Tua Barang Bekas Loak & Limbah Elektronik Bogor</h4>
                                  <p class="card-text" style="margin-top: 10px;">
                                      <i class="bi bi-pin-map-fill ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                      Jl. Kp. Sawah Kaum, RT.03 RW02/RW.09, Mekarjaya, Kec. Ciomas, Kabupaten Bogor, Jawa Barat 16610 <br>
                                      <i class="bi bi-clock ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                      07:30 - 17:00 ( 07:30 AM - 5:00 PM )
                                  </p>
                                  <button class="border-0 btn SpecificButton btn-success py-3 rounded-9" style="width: 150px; " type="submit">Pilih</button>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <img src="{{ url_for('static', filename='img/detailpencariantitik/detailpencariantitik3.png') }}" class="img-fluid rounded-start" style="height:210px; width: 100%;">
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row g-4" style="margin-top: 10px;">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title">Lapak Rongsok Barang Bekas & Limbah Elektronik Akar Makmur</h4>
                                <p class="card-text" style="margin-top: 10px;">
                                    <i class="bi bi-pin-map-fill ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                    Muara sari, RT.01/RW.12, Pasirkuda, Kec. Bogor Bar., Kota Bogor, Jawa Barat 16119 <br>
                                    <i class="bi bi-clock ms-1" style="margin-right: 15px; font-size: larger;"></i>
                                    07:00 - 22:00 ( 07:00 AM - 10:00 PM )
                                </p>
                                <button class="border-0 btn SpecificButton btn-success py-3 rounded-9" style="width: 150px; " type="submit">Pilih</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ url_for('static', filename='img/detailpencariantitik/detailpencariantitik4.png') }}" class="img-fluid rounded-start" style="height:210px; width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
    </div>
{% endblock content %}