{% extends 'layout.html' %}

{% block title %}Penjemputan{% endblock title %}
    
{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/penjemputan/penjemputan.css') }}" />
{% endblock style %}

{% block content %}
    <div class="card bg-dark text-white">
      <img class="card-img" src="{{ url_for('static', filename='img/penjemputan/penjemputan.png') }}" alt="Card image" />
      <div class="card-img-overlay"></div>
    </div>

    <div class="d-flex">
      <div class="d-flex flex-row w-100 justify-content-between mt-5 mb-5">
        <div class="col-4 kiri">
          <p style="font-family: Inter; color: #299e63">Mau Tambah <br />Pemasukan ?</p>
          <h4>Ubah barang elektronik bekas Anda menjadi uang.</h4>
          <button class="border-0 btn SpecificButton btn-success" style="box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25)" type="submit">
            <a href="{{ url_for('penjemputan.pilih_layanan') }}">Jadwalkan Pengangkutan</a>
          </button>
        </div>
        <div class="col-4 kanan">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner position-absolute">
              <div class="carousel-item active">
                <img class="d-block" width="270" src="{{ url_for('static', filename='img/penjemputan/penjemputan1.png') }}" alt="First slide" />
              </div>
              <div class="carousel-item">
                <img class="d-block" width="270" src="{{ url_for('static', filename='img/penjemputan/penjemputan2.png') }}" alt="Second slide" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex" style="background-color: #ebebeb; width: 100%">
      <div class="d-flex flex-row w-100 justify-content-between mt-5 mb-5">
        <div class="col-4 kiri">
          <img src="{{ url_for('static', filename='img/penjemputan/penjemputan3.png') }}" width="300" style="margin-left: 10%" alt="" />
        </div>
        <div class="col-4 kanan" style="margin-right: 15%">
          <p style="font-family: Inter; color: #299e63">Apa itu ERA ?</p>
          <h4>ERA adalah aplikasi yang berfokus pada pengelolaan limbah elektronik</h4>
          <i class="bi bi-geo-alt-fill"> Area Layanan</i>
          <h4>Sentul, Bogor, Dan Sekitarnya</h4>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-between terakhir w-100">
      <div class="satu w-25">
        <p style="font-size: 2.5rem">Layanan</p>
        <hr />
        <p style="color: black; font-weight: 400; width: 80%">Kami dengan senang hati menerima sampah elektronik yang Anda miliki.</p>
        <div class="layanan"><img class="icon" src="{{ url_for('static', filename='img/penjemputan/icon1.png') }}" width="50" alt="..." class="rounded-circle" />Jadwalkan pengangkutan</div>
        <div class="layanan"><img class="icon" src="{{ url_for('static', filename='img/penjemputan/icon2.png') }}" width="50" alt="..." class="rounded-circle" />Barang di proses</div>
        <div class="layanan"><img class="icon" src="{{ url_for('static', filename='img/penjemputan/icon3.png') }}" width="50" alt="..." class="rounded-circle" />Barang di terima dan akan dikelola secara bertanggung jawab</div>
      </div>
      <div class="dua w-25">
        <i class="bi bi-map"></i>
        <p>Penjemputan</p>
        <h4>
          ERA memberikan pilihan layanan kurir untuk mengangkut, mengirim, dan membayar sampah elektronik Anda dengan harga yang menguntungkan. Pembayaran akan dilakukan setelah barang sampah elektronik tiba di Tempat Pemrosesan Sementara
          (TPS).
        </h4>
        <button class="border-0 btn SpecificButtonLayanan btn-success" style="box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25)" type="submit">Selengkapnya</button>
      </div>
      <div class="tiga w-25 mr-5">
        <i class="bi bi-person-fill"></i>
        <p>Antar Sendiri</p>
        <h4>Kirimkan sendiri barang-barang elektronik bekasmu ke TPS terdekat, dan ERA akan segera melakukan verifikasi serta memberikan pembayaran sesuai dengan nilai terbaik untuk limbah elektronik yang kamu kirimkan.</h4>
        <button class="border-0 btn SpecificButtonLayanan btn-success" style="box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25)" type="submit">Selengkapnya</button>
      </div>
    </div>

    <div class="container-ending mt-5">
      <div id="my-card" class="card w-100 d-block">
        <img style="width: 100%" class="card-img-top" src="{{ url_for('static', filename='img/penjemputan/penjemputan4.png') }}" alt="Tutorialspoint Logo" />
        <h4 class="card-img-overlay mx-auto" href="#">Bersama ERA bebas limbah elektronik</h4>
      </div>
    </div>
{% endblock content %}

  {% block script %}
  <script>
    $(".carousel").carousel({
      interval: 2000,
    });
  </script>
  {% endblock script %}