{% extends 'user/layout.html' %}

{% block title %} Ubah Kata Sandi {% endblock %}
{% block style %}
  .textijo{ 
    color: #299e63;
  }
  .w-14{
    width:300px;
  }
  #alertTop {
    position: fixed;
    z-index: 99;
    bottom: 2vh;
    left: 5vh;
    width: 90vw;
    transition: all ease-in 0.3s;
  }

  .paddingC{
    width:400px;
    height:45px;
  }

  .TombolPutih{
    background-color: white;
    transition: all ease 0.3s;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.1);
  }

  .TombolPutih:hover{
    background-color: #f2f2f2;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.8);
  }
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div id="alertTop" class="auto-close-alert">
          <div class="row">
            <div class="col">
              <div class="alert alert-{{category}}">
                {{message}}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="w-100 d-flex align-items-center justify-content-center flex-column" style="margin-bottom: 100px;">
    <div class="d-flex h-100 flex-column justify-content-center w-75" style="margin-top: 100px; margin-bottom:70px;">
      <div class="d-flex align-items-center">
        <h1 class="mb-0 ml-3 font-weight-bold">Ubah Kata Sandi</h1>
      </div>
      <div class="mt-3 WarnaHijau shadow p-5 RoundedCustom d-flex justify-content-evenly align-items-center">
        <form action="{{url_for('user.change')}}" method="POST" class="w-50 d-flex mr-5 align-items-center justify-content-center">
            <div class="ml-5 justify-content-center align-items-center d-flex gap-3 flex-column">
            <div class="d-flex flex-column">
              <span class="w-14 text-white font-weight-bold">Kata Sandi Lama</span>
              <input name="passwordlama" type="password" placeholder="Kata Sandi Lama"     class="rounded-xl border-0 paddingC px-3" />
            </div>
            <div class="d-flex flex-column">
              <span class="w-14 text-white font-weight-bold">Kata Sandi Baru</span>
              <input name="passwordbaru" type="password" placeholder="Kata Sandi Baru" class="rounded-xl border-0 paddingC px-3" />
            </div>
            <div class="d-flex flex-column">
              <span class="w-14 text-white font-weight-bold">Konfirmasi Kata Sandi Baru</span>
              <input name="konfirmasipassword" type="password" placeholder="Konfirmasi Kata Sandi" class="rounded-xl border-0 paddingC px-3" />
            </div>

            <div class="d-flex mt-2 justify-content-center  w-100">
              <div>
                <button type="submit" class="border-0 font-weight-bold px-5 py-2 rounded-xl TombolPutih textijo">Ubah</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
