{% extends 'layout.html' %}
{% block title %}Beranda{% endblock title %}
    
{% block style %}
<style>
  .GreenColor{
      background-color: #299e63;
      text-align: center;
      margin-right: 10%;
      transition: 0.3s ease;
  }

  .GreenColor:hover{
      background-color: #2eca7c;
  }
  #alertTop {
    position: fixed;
    z-index: 1000;
    bottom: 2vh;
    left: 5vh;
    width: 90vw;
    transition: all ease-in 0.3s;
  }
</style>
{% endblock style %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div id="alertTop" class="auto-close-alert">
      <div class="row">
        <div class="col">
          <div class="alert alert-{{category}}">
            {{message}}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

    <!-- Header Start -->
    <div class="container-fluid header bg-success p-0 mb-5">
      <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
        <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
          <div class="owl-carousel header-carousel">
            <div class="owl-carousel-item position-relative">
              <img class="img-fluid" src="{{url_for('static' , filename='img/homepage/homepage1.png')}}" alt="" />
              <div class="owl-carousel-text" style="display: flex; flex-direction: column;">
                <div class="logo">
                  <img src="{{url_for('static' , filename ='img/homepage/era.png')}}" style="width:fit-content;" />
                </div>
                <div class="title" style="width: 40%;">
                  <p style="font-size: x-large; color: #ffff; text-align: center; font-weight: 600px;">Bingung bagaimana mengelola limbah elektronik kamu?</p>
                </div>
              </div>
            </div>
            <div class="owl-carousel-item position-relative">
              <img class="img-fluid" src="{{url_for('static' , filename='img/homepage/homepage2.png')}}" alt="" />
              <div class="owl-carousel-text" style="display: flex; flex-direction: column;">
                <div class="logo">
                  <img src="{{url_for('static' , filename ='img/homepage/era.png')}}" />
                </div>
                <div class="title" style="width: 40%;">
                  <p style="font-size: x-large; color: #ffff; text-align: center; font-weight: 600px;">ERA : Sahabat Sobat Pencinta Alam!</p>
                </div>
              </div>
            </div>
            <div class="owl-carousel-item position-relative">
              <img class="img-fluid" src="{{url_for('static' , filename='img/homepage/homepage3.png')}}" alt="" />
              <div class="owl-carousel-text" style="display: flex; flex-direction: column;">
                <div class="logo">
                  <img src="{{url_for('static' , filename ='img/homepage/era.png')}}" />
                </div>
                <div class="title" style="width: 40%;">
                  <p style="font-size: x-large; color: #ffff; text-align: center; font-weight: 600px;">Aplikasi pengelolaan limbah elektronik di Indonesia untuk menyelesaikan permasalahan limbah elektronik kamu</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->

    <!-- Service Start -->
    <div class="container-fluid py-5" style=" margin-top: -3%">
      <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px">
          <h1 class="d-block py-3 px-4" style="background-color: #299e63;color: white;font-size:  32.544px; border-radius: 7.5px; ">Layanan Kami</h1>
        </div>

        <div class="row justify-content-center g-4" style="margin-top: 20px">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="rounded h-100 p-5 GreenColor" style=" text-align: center; margin-right: 10%;">
              <img src="{{url_for('static' , filename='img/homepage/penjemputanbarang.png')}}" class="img-thumbnail" alt="" />
              <h4 class="mb-3" style="color: white; margin-top: 20px">Penjemputan</h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="rounded h-100 p-5 GreenColor" >
              <img src="{{url_for('static' , filename='img/homepage/artikel.png')}}" class="img-thumbnail" alt="" />
              <h4 class="mb-3" style="color: white; margin-top: 20px">Artikel</h4>
            </div>
          </div>
        </div>

        <div class="row justify-content-center g-4" style="margin-top: 20px">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="rounded h-100 p-5 GreenColor">
              <img src="{{url_for('static' , filename='img/homepage/rekomendasi.png')}}" class="img-thumbnail" alt="" />
              <h4 class="mb-3" style="color: white; margin-top: 20px">Rekomendasi</h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="rounded h-100 p-5 GreenColor">
              <img src="{{url_for('static' , filename='img/homepage/penukaranpoin.png')}}" class="img-thumbnail" alt="" />
              <h4 class="mb-3" style="color: white; margin-top: 20px">Penukaran Poin</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service End -->

    <!-- Div Nama" Tiap Layanan -->

    <!-- Penjemputan Barang Start -->
    <div class="container-fluid py-5" style="margin-top: 5%;background-color: #EBEBEB;padding:3%;">
      <div class="container">
        <!-- Ini Judul Tiap Layanan -->
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: -3%;">
          <h1 style="color: #299e63; margin-top: 5%;">Penjemputan</h1>
        </div>
        <!-- Ini Isi Tiap Layanan -->
        <div class="row g-4" style="height: 30em;">
          <div class="col-lg-6 col-md-6">
            <img src="{{url_for('static' , filename='img/homepage/penjemputanbarang2.jpg')}}" class="rounded-circle" style="width: 25em; height: 25em; margin-left: 100px;
            box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25);" alt="" />
          </div>
          <div class="col-lg-6 col-md-6 wow fadeInUp" style="margin-top: 5%; width: 40%; text-align: center;font-size: 25px; display:flex; flex-direction:column; align-items: center;" data-wow-delay="0.1s">
            <p style="color: black;display: flex;flex-direction: column; justify-content: center;text-align: left;">Tidak perlu repot untuk mengantarkan limbah elektronikmu! Dengan ERA kamu bisa jadwalkan penjemputan untuk limbah elektronikmu 👍
              <br>Ayo jadwalkan sekarang!</p>
            <div class="col-12">
              <a href="{{url_for('penjemputan.index')}}">
              <button class="border-0 btn SpecificButton btn-success w-100 py-3" type="submit">Jadwalkan Penjemputan</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Penjemputan Barang End -->

    <!-- Artikel Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <!-- Ini Judul Tiap Layanan -->
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: -3%;">
          <h1 style="color: #299e63; margin-top: 5%;">Artikel</h1>
        </div>
        <!-- Ini Isi Tiap Layanan -->
        <div class="row g-4" style="height: 30em;">
          <div class="col-lg-6 col-md-6 wow fadeInUp" style="margin-top: 5%; width: 40%; text-align: center;font-size: 25px;" data-wow-delay="0.1s">
            <p style="color: black;display: flex;flex-direction: column;justify-content: center;text-align: right;">Tidak hanya penjemputan, Ada artikel tentang pengolahan sampah elektronik juga loh.</p>
            <div class="col-12">
              <a href="{{url_for('artikel.index')}}">
              <button class="border-0 btn SpecificButton btn-success w-100 py-3" type="submit">Baca Artikel</button>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <img src="{{url_for('static' , filename='img/homepage/artikel2.jpg')}}" class="rounded-circle" style="width: 25em; height: 25em; margin-left: 30%;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
            box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25);" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Artikel End -->

    <!-- Rekomendasi Start -->
    <div class="container-fluid py-5" style="margin-top: 5%;background-color: #EBEBEB;padding:3%;">
      <div class="container">
        <!-- Ini Judul Tiap Layanan -->
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: -3%;">
          <h1 style="color: #299e63; margin-top: 5%;">Rekomendasi</h1>
        </div>

        <!-- Ini Isi Tiap Layanan -->
        <div class="row g-4" style="height: 30em;">
          <div class="col-lg-6 col-md-6">
            <img src="{{url_for('static' , filename='img/homepage/rekomendasi2.jpg')}}" class="rounded-circle" style="width: 25em; height: 25em; margin-left: 100px;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
            box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25);" alt="" />
          </div>

          <div class="col-lg-6 col-md-6 wow fadeInUp" style="margin-top: 5%; width: 40%; text-align: center;font-size: 25px;" data-wow-delay="0.1s">
            <p style="color: black;display: flex;flex-direction: column;justify-content: center;text-align: left;">Masih bingung bagaimana mengolah limbah elektronik yang kamu punya? Jangan takut! Disini kamu bisa membaca tentang rekomendasi pengelolaan limbah elektronik yang kamu miliki! 
              Yuk lihat rekomendasi rekomendasinya!</p>
            <div class="col-12">
              <a href="{{url_for('rekomendasi.index')}}">
                <button class="border-0 btn SpecificButton btn-success w-100 py-3" type="submit">Lihat Rekomendasi</button>
              </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Rekomendasi End -->

    <!-- Penukaran Poin Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <!-- Ini Judul Tiap Layanan -->
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: -3%;">
          <h1 style="color: #299e63; margin-top: 5%;">Penukaran Poin</h1>
        </div>
        <!-- Ini Isi Tiap Layanan -->
        <div class="row g-4" style="height: 30em;">
          <div class="col-lg-6 col-md-6 wow fadeInUp" style="margin-top: 5%; width: 40%; text-align: center;font-size: 25px;" data-wow-delay="0.1s">
            <p style="color: black;display: flex;flex-direction: column;justify-content: center;text-align: right;">Di ERA kamu juga bisa menukarkan poin yang kamu dapatkan setelah memberi limbah elektronik yang kamu punya menjadi beberapa hadiah yang tersedia sesuai poin yang kamu miliki!</p>
            <div class="col-12">
              <a href="{{url_for('redeem.redeem_poin')}}">
                <button class="border-0 btn SpecificButton btn-success w-100 py-3" type="submit">Tukar Poin</button>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <img src="{{url_for('static' , filename='img/homepage/penukaranpoin2.jpg')}}" class="rounded-circle" style="width: 25em; height: 25em; margin-left: 30%;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
            box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25);" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Penukaran Poin End -->
{% endblock content %}

{% block script %}
<script>
  setTimeout(function() {
    document.getElementById('alertTop').style.display = 'none';
  }, 3000);
</script>
{% endblock script %}