{% extends 'layout.html' %}

{% block title %}<title>Beranda</title>{% endblock title %}
    
{% block style %}
<style>
  .GreenColor{
      background-color: #299e63;
      text-align: center;
      margin-right: 10%;
      transition: 0.3s ease;
  }

  .GreenColor:hover{
      background-color: #2eca7c;
  }
</style>
{% endblock style %}

{% block content %}
    <!-- Header Start -->
    <div class="container-fluid header bg-success p-0 mb-5">
      <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
        <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
          <div class="owl-carousel header-carousel">
            <div class="owl-carousel-item position-relative">
              <img class="img-fluid" src="{{url_for('static' , filename='img/homepage/homepage1.png')}}" alt="" />
              <div class="owl-carousel-text" style="display: flex; flex-direction: column;">
                <div class="logo">
                  <img src="{{url_for('static' , filename ='img/homepage/era.png')}}" style="width:fit-content;" />
                </div>
                <div class="title" style="width: 40%;">
                  <p style="font-size: x-large; color: #ffff; text-align: center; font-weight: 600px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, voluptates!</p>
                </div>
              </div>
            </div>
            <div class="owl-carousel-item position-relative">
              <img class="img-fluid" src="{{url_for('static' , filename='img/homepage/homepage2.png')}}" alt="" />
              <div class="owl-carousel-text" style="display: flex; flex-direction: column;">
                <div class="logo">
                  <img src="{{url_for('static' , filename ='img/homepage/era.png')}}" />
                </div>
                <div class="title" style="width: 40%;">
                  <p style="font-size: x-large; color: #ffff; text-align: center; font-weight: 600px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, voluptates!</p>
                </div>
              </div>
            </div>
            <div class="owl-carousel-item position-relative">
              <img class="img-fluid" src="{{url_for('static' , filename='img/homepage/homepage3.png')}}" alt="" />
              <div class="owl-carousel-text" style="display: flex; flex-direction: column;">
                <div class="logo">
                  <img src="{{url_for('static' , filename ='img/homepage/era.png')}}" />
                </div>
                <div class="title" style="width: 40%;">
                  <p style="font-size: x-large; color: #ffff; text-align: center; font-weight: 600px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, voluptates!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->

    <!-- Service Start -->
    <div class="container-fluid py-5" style=" margin-top: -3%">
      <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px">
          <h1 class="d-block py-3 px-4" style="background-color: #299e63;color: white;font-size:  32.544px; border-radius: 7.5px; ">Layanan Kami</h1>
        </div>

        <div class="row justify-content-center g-4" style="margin-top: 20px">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="rounded h-100 p-5 GreenColor" style=" text-align: center; margin-right: 10%;">
              <img src="{{url_for('static' , filename='img/homepage/penjemputanbarang.png')}}" class="img-thumbnail" alt="" />
              <h4 class="mb-3" style="color: white; margin-top: 20px">Penjemputan Barang</h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="rounded h-100 p-5 GreenColor" >
              <img src="{{url_for('static' , filename='img/homepage/artikel.png')}}" class="img-thumbnail" alt="" />
              <h4 class="mb-3" style="color: white; margin-top: 20px">Artikel</h4>
            </div>
          </div>
        </div>

        <div class="row justify-content-center g-4" style="margin-top: 20px">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="rounded h-100 p-5 GreenColor">
              <img src="{{url_for('static' , filename='img/homepage/rekomendasi.png')}}" class="img-thumbnail" alt="" />
              <h4 class="mb-3" style="color: white; margin-top: 20px">Rekomendasi</h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="rounded h-100 p-5 GreenColor">
              <img src="{{url_for('static' , filename='img/homepage/penukaranpoin.png')}}" class="img-thumbnail" alt="" />
              <h4 class="mb-3" style="color: white; margin-top: 20px">Penukaran Poin</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service End -->

    <!-- Div Nama" Tiap Layanan -->

    <!-- Penjemputan Barang Start -->
    <div class="container-fluid py-5" style="margin-top: 5%;background-color: #EBEBEB;padding:3%;">
      <div class="container">
        <!-- Ini Judul Tiap Layanan -->
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: -3%;">
          <h1 style="color: #299e63; margin-top: 5%;">Penjemputan Barang</h1>
        </div>
        <!-- Ini Isi Tiap Layanan -->
        <div class="row g-4" style="height: 30em;">
          <div class="col-lg-6 col-md-6">
            <img src="{{url_for('static' , filename='img/homepage/penjemputanbarang2.jpg')}}" class="rounded-circle" style="width: 25em; height: 25em; margin-left: 100px;
            box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25);" alt="" />
          </div>
          <div class="col-lg-6 col-md-6 wow fadeInUp" style="margin-top: 5%; width: 40%; text-align: center;font-size: 25px;" data-wow-delay="0.1s">
            <p style="color: black;display: flex;flex-direction: column;justify-content: center;text-align: left;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <div class="col-12">
              <button class="border-0 btn SpecificButton btn-success w-100 py-3" type="submit">Jadwalkan Penjemputan</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Penjemputan Barang End -->

    <!-- Artikel Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <!-- Ini Judul Tiap Layanan -->
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: -3%;">
          <h1 style="color: #299e63; margin-top: 5%;">Artikel</h1>
        </div>
        <!-- Ini Isi Tiap Layanan -->
        <div class="row g-4" style="height: 30em;">
          <div class="col-lg-6 col-md-6 wow fadeInUp" style="margin-top: 5%; width: 40%; text-align: center;font-size: 25px;" data-wow-delay="0.1s">
            <p style="color: black;display: flex;flex-direction: column;justify-content: center;text-align: right;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <div class="col-12">
              <button class="border-0 btn SpecificButton btn-success w-100 py-3" type="submit">Baca Artikel</button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <img src="{{url_for('static' , filename='img/homepage/artikel2.jpg')}}" class="rounded-circle" style="width: 25em; height: 25em; margin-left: 30%;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
            box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25);" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Artikel End -->

    <!-- Rekomendasi Start -->
    <div class="container-fluid py-5" style="margin-top: 5%;background-color: #EBEBEB;padding:3%;">
      <div class="container">
        <!-- Ini Judul Tiap Layanan -->
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: -3%;">
          <h1 style="color: #299e63; margin-top: 5%;">Rekomendasi</h1>
        </div>

        <!-- Ini Isi Tiap Layanan -->
        <div class="row g-4" style="height: 30em;">
          <div class="col-lg-6 col-md-6">
            <img src="{{url_for('static' , filename='img/homepage/rekomendasi2.jpg')}}" class="rounded-circle" style="width: 25em; height: 25em; margin-left: 100px;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
            box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25);" alt="" />
          </div>

          <div class="col-lg-6 col-md-6 wow fadeInUp" style="margin-top: 5%; width: 40%; text-align: center;font-size: 25px;" data-wow-delay="0.1s">
            <p style="color: black;display: flex;flex-direction: column;justify-content: center;text-align: left;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <div class="col-12">
              <button class="border-0 btn SpecificButton btn-success w-100 py-3" type="submit">Lihat Rekomendasi</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Rekomendasi End -->

    <!-- Penukaran Poin Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <!-- Ini Judul Tiap Layanan -->
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: -3%;">
          <h1 style="color: #299e63; margin-top: 5%;">Penukaran Poin</h1>
        </div>
        <!-- Ini Isi Tiap Layanan -->
        <div class="row g-4" style="height: 30em;">
          <div class="col-lg-6 col-md-6 wow fadeInUp" style="margin-top: 5%; width: 40%; text-align: center;font-size: 25px;" data-wow-delay="0.1s">
            <p style="color: black;display: flex;flex-direction: column;justify-content: center;text-align: right;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <div class="col-12">
              <button class="border-0 btn SpecificButton btn-success w-100 py-3" type="submit">Tukar Poin</button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <img src="{{url_for('static' , filename='img/homepage/penukaranpoin2.jpg')}}" class="rounded-circle" style="width: 25em; height: 25em; margin-left: 30%;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
            box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.25);" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Penukaran Poin End -->
{% endblock content %}
