{% extends 'layout.html' %}

{% block title %}Penjemputan{% endblock title %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/rekomendasi/rekomendasi.css') }}" />

  <style>
    .card-img {
      background-image: url("{{ url_for('static', filename='/img/rekomendasi/jumbotron-rekomendasi.png') }}");
    }
  </style>
{% endblock style %}

{% block content %}
    <body>
        <div class="card bg-dark text-white">
            <img class="card-img" />
            <div class="card-img-overlay">
              <h5 class="card-title">Rekomendasi <br>Pemanfaatan Limbah <br> Elektronik</h5>
            </div>
        </div>
    
        <div class="container-fluid">
          <div class="row">
            <div class="col-2">

            </div>

            <div class="col-xl-12">
              <div class="row">
                <div class="media-scroller snaps-inline mt-5">
                  <div class="media-element">
                    <!-- <div class="card-img"> -->
                      <img src="{{ url_for('static', filename='/img/rekomendasi/tv.png') }}" alt="" />
                    <!-- </div> -->
                    <a href="" class="title">Televisi</a>
                  </div>
    
                  <div class="media-element">
                    <img src="{{ url_for('static', filename='/img/rekomendasi/kamera.png') }}" alt="" />
                    <a href="" class="title">Kamera</a>
                  </div>
    
                  <div class="media-element">
                    <img src="{{ url_for('static', filename='/img/rekomendasi/handphone.png') }}" alt="" />
                    <a href="" class="title">Handphone</a>
                  </div>
    
                  <div class="media-element">
                    <img src="{{ url_for('static', filename='/img/rekomendasi/radio.png') }}" alt="" />
                    <a href="" class="title">Radio</a>
                  </div>
                </div>     
              </div>       
              
              <div class="col-xl-12">
                <div class="row">
                  <div class="media-scroller snaps-inline mt-5">
                    <div class="media-element">
                      <!-- <div class="card-img"> -->
                        <img src="{{ url_for('static', filename='/img/rekomendasi/tv.png') }}" alt="" />
                      <!-- </div> -->
                      <a href="" class="title">Televisi</a>
                    </div>
      
                    <div class="media-element">
                      <img src="{{ url_for('static', filename='/img/rekomendasi/kamera.png') }}" alt="" />
                      <a href="" class="title">Kamera</a>
                    </div>
      
                    <div class="media-element">
                      <img src="{{ url_for('static', filename='/img/rekomendasi/handphone.png') }}" alt="" />
                      <a href="" class="title">Handphone</a>
                    </div>
      
                    <div class="media-element">
                      <img src="{{ url_for('static', filename='/img/rekomendasi/radio.png') }}" alt="" />
                      <a href="" class="title">Radio</a>
                    </div>
                  </div>     
                </div>

                <div class="col-xl-12">
              <div class="row">
                <div class="media-scroller snaps-inline mt-5">
                  <div class="media-element">
                    <!-- <div class="card-img"> -->
                      <img src="{{ url_for('static', filename='/img/rekomendasi/tv.png') }}" alt="" />
                    <!-- </div> -->
                    <a href="" class="title">Televisi</a>
                  </div>
    
                  <div class="media-element">
                    <img src="{{ url_for('static', filename='/img/rekomendasi/kamera.png') }}" alt="" />
                    <a href="" class="title">Kamera</a>
                  </div>
    
                  <div class="media-element">
                    <img src="{{ url_for('static', filename='/img/rekomendasi/handphone.png') }}" alt="" />
                    <a href="" class="title">Handphone</a>
                  </div>
    
                  <div class="media-element">
                    <img src="{{ url_for('static', filename='/img/rekomendasi/radio.png') }}" alt="" />
                    <a href="" class="title">Radio</a>
                  </div>
                </div>     
              </div>

            <div class="col-2">

            </div>
          </div>
        </div>
{% endblock content %}